/* #lincoln{
    width: 400px;
    height: 400px;
}

#lincol{
    width: 400px;
    height: 400px;
}

#linco{
    width: 400px;
    height: 400px;
}

#linc{
    width: 400px;
    height: 400px;
} */

.carousel-inner{

}